*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
  @media only screen and (max-width: 1200px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 850px) {
    font-size: 40%;
  }
}

body {
  background-color: #2d3436;
  color: #fff;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
